main {
  width: 100vw;
  height: 100vw;
  box-sizing: border-box;
}
main div {
  border: 1px solid #F24405;
  /* Bla bla bla */
  width: 190px;
  height: 100px;
  box-sizing: border-box;
}
main div .green {
  border-color: #22BABB;
}
nav {
  padding: 1rem;
  background-color: #9EF8EE;
}
nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li,
nav ol li {
  display: inline-block;
}
nav ul li a,
nav ol li a {
  color: #348888;
}
nav ul li a:hover,
nav ol li a:hover {
  color: #FA7F08;
}
nav ul li a:visited,
nav ol li a:visited {
  color: #22BABB;
}
footer.red {
  height: 20vh;
  width: 100vw;
  background-color: #F24405;
}
footer.green {
  height: 50px;
  width: 100vw;
  background-color: #22BABB;
}
.red-border {
  border: 1px solid #F24405;
}
