/* latin-ext */
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 100%;
  src: url(fonts/NaNNepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC79QRyaLshNDUf3e0O-gn5rrZCu20YNau2OPFu02G5bac.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 100%;
  src: url(fonts/NaNNepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC79QRyaLshNDUf3e0O-gn5rrZCu20YNau4OPFu02G5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html,
body {
  font-size: 100%;
  color: #1C1D1C;
  margin: 0;
}
body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: #DDE0D9;
}
* {
  box-sizing: border-box;
}
nav#main-nav {
  position: sticky;
  top: 0;
  background-color: rgba(221, 224, 217, 0.8);
}
nav#main-nav ul {
  list-style: none;
}
nav#main-nav ul li {
  display: inline-block;
  padding: 0.2rem;
}
nav#main-nav ul li a {
  color: #1C1D1C;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s linear;
}
nav#main-nav ul li a:hover {
  color: #676b67;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  flex-wrap: wrap;
  margin: auto;
}
.container .full {
  width: 100%;
}
.container .half {
  width: 50%;
}
.container .third {
  width: 33%;
}
.container .quarter {
  width: 25%;
}
.dark {
  background-color: #1C1D1C;
  color: #DDE0D9;
}
.dark a {
  color: #DDE0D9;
}
.light-blue {
  background: #9AC1D0;
}
.pt {
  padding-top: 2rem;
}
button {
  background: #2F591C;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  border: none;
  color: #DDE0D9;
  font-size: 1rem;
  font-weight: 800;
  transition: all 0.25s linear;
  border: 1px solid #2F591C;
}
button:hover {
  background-color: #DDE0D9;
  color: #1C1D1C;
}
input {
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  padding: 0.75rem;
}
inputhover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}
textarea {
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  padding: 0.75rem;
}
